<div class="top">
    <div class="left">
        <div class="person">
          <img src="http://usercontent.edu2act.cn/media/userheader/18-05-06/Gu6VtacuYEtNorMgwZkEgH.png?imageView2/1/w/256/h/256" alt="">
          <span><p>2-姚静</p></span>
          <span><p>粉丝：0</p></span>
          <span><p>关注：0</p></span>
          <span><hr></span>
        </div>
        <div class="contain">
          <a [routerLink]="['/home']">
          <li>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
            <p style="color:rgb(247, 81, 24);">任 务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
          </li>
          </a> 
          <a [routerLink]="['/tongbu']">
            <li>
              <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
              <p>同步课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
            </li>
            </a>  
            <a [routerLink]="['/course']">
              <li>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
                <p>课 程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
              </li>
            </a>
            <a [routerLink]="['/qieshuo']">
              <li>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
                <p>且 说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
              </li>
            </a> <a [routerLink]="['/tongzhi']">
              <li>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
                <p>通 知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
              </li>
            </a>      
        </div>
      </div>
      <div class="right">
        <div class="finish">
          <ul>
            <li><a [routerLink]="['/home']">未完成</a></li>
            <li><a style="color:rgb(247, 81, 24);" [routerLink]="['/home/finished']">已完成</a></li>
            <li><a [routerLink]="['/home/checked']">已完结</a></li>
          </ul>
          <div class="search">
              <input type="text">
              <button>搜索</button>
          </div>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="work">
            <div class="name">
                <p>任务一--雪梨教育</p>
                <span>10分</span>
            </div>
            <div class="cla">
              <p>2016级混合应用开发</p>
              <span>查看答案 | 查看任务</span>
            </div>
        </div>
    </div>
</div>
