<div class="top">
  <div class="left">
    <div class="person">
      <img src="http://usercontent.edu2act.cn/media/userheader/18-05-06/Gu6VtacuYEtNorMgwZkEgH.png?imageView2/1/w/256/h/256" alt="">
      <span><p>2-姚静</p></span>
      <span><p>粉丝：0</p></span>
      <span><p>关注：0</p></span>
      <span><hr></span>
    </div>
    <div class="contain">
      <a [routerLink]="['/home']">
      <li>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
        <p>任 务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
      </li>
      </a> 
      <a [routerLink]="['/tongbu']">
        <li>
          <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
          <p>同步课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
        </li>
        </a>  
        <a [routerLink]="['/course']">
          <li>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
            <p>课 程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
          </li>
        </a>
        <a [routerLink]="['/qieshuo']">
          <li>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
            <p>且 说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
          </li>
        </a> <a [routerLink]="['/tongzhi']">
          <li>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540042756&di=9e1ca490caa59b5e29964b07c91c5d49&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01186159e8abcca801216a4bd3ed1c.jpg%402o.jpg" alt="">
            <p style="color:rgb(247, 81, 24);">通 知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=640283141,1335229955&fm=200&gp=0.jpg" alt="">
          </li>
        </a>      
    </div>
  </div>
  <div class="right">
      <ul>
        <li><a style="color:rgb(247, 81, 24);" [routerLink]="['/tongzhi']">@我的</a></li>
        <li><a [routerLink]="['/tongzhi/tongzhizan']">我收到的赞</a></li>
        <li><a [routerLink]="['/tongzhi/tongzhipinglun']">评论</a></li>
      </ul>
      <hr>
      <div class="work">
          <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3779238033,999637204&fm=200&gp=0.jpg" alt="">
          <p>暂时还没有任何人@你呢~</p>
        </div>
  </div>
</div>
