<div class="container">
  <div class="nav1">
    <h3><a [routerLink]="['/tongbu']">同步课</a>/{{course?.courseName}}</h3>
  </div>
    <ul class="list">
      <li>简介</li>
      <li>互动</li>
      <li class="special">任务{{course?.task}}</li>
      <li>成员{{course?.person}}</li>
    </ul>
  <div class="but">
    <button>全部任务</button>
    <button>成绩分析</button>
  </div>
  <div class="work">
      <p>任务一：组件交互与服务</p>
      <img src="http://usercontent.edu2act.cn/media/userheader/17-09-12/DktTc6ww3u396hJYsG4dMP.jpg?imageView2/1/w/256/h/256" alt="">
      <span>刘冠军 发布于 2018-09-30 16:35</span>
  </div>
  <div class="work">
      <p>任务二：组件交互与服务</p>
      <img src="http://usercontent.edu2act.cn/media/userheader/17-09-12/DktTc6ww3u396hJYsG4dMP.jpg?imageView2/1/w/256/h/256" alt="">
      <span>刘冠军 发布于 2018-09-30 16:35</span>
  </div>
  <div class="work">
      <p>任务三：组件交互与服务</p>
      <img src="http://usercontent.edu2act.cn/media/userheader/17-09-12/DktTc6ww3u396hJYsG4dMP.jpg?imageView2/1/w/256/h/256" alt="">
      <span>刘冠军 发布于 2018-09-30 16:35</span>
  </div>
</div>
