page-home {
    ion-header ion-navbar{
        background-color: orange;
        position:relative;
        height: 75px;
        font-size: 20px;
    }
    ion-header ion-navbar button{
       border:no-border;
    }

    .navList{
        list-style: none;
        padding-left: 0!important;
        margin: 0;
        height: 44px;
        line-height: 44px;
        .first{
            border-bottom:3px solid #ffdb2c;
        }
        li{
            height: 44px;
            text-align: center;
            float: left;
            width: 25%;
        }
    }

    .search-button{
       position: absolute;
       right: 15px;
    }
    .slides-pic{
        padding: 0;
        margin:0;
        height: 160px;
    }
    .slides-pic img{
        width: 100%;
        height: 160px;
    }
    
    .txt{
        padding:0;
        width: 100%;
        height: 50px;
        background-image: url(../../assets/imgs/1_bg_02.png);
        background-size: 100% 100%;
        text-align: center;
        line-height: 5px;
    }

    .goods{
        padding: 0;
        img{
            width: 100%;
        }
        li{
            position: relative;
            width: 45%;
            float: left;
            margin: 5px 0 5px 3%;
            span{
                display: block;
                width: 26px;
                height: 26px;
                text-align: center;
                line-height: 26px;
                border-radius: 50%;
                color: red;
                position: absolute;
                background: #fff;
                right: 15px;
                bottom: 25px;
            }
            p{
                position: absolute;
                width: 100%;
                bottom:4px;
                margin: 0;
                color: #fff;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background-color:rgba(0,0,0,0.5);
            }
        }
    }


    .fenlei{
        height: 100px;
    }
    .fenlei li{
        width: 30%;
        height: 100px;
        list-style: none;
        text-align: center;
        line-height: 100px;
        float: left;
        margin-left:2.5%;
        background-size: 100% 100%;
       color:#fff;
    }
    .fenlei .first{
        background-image: url(../../assets/imgs/2-01_03.png);
    }
    .fenlei .second{
        background-image: url(../../assets/imgs/2-01_04.png);
    }
    .fenlei .third{
        background-image: url(../../assets/imgs/2_01_07.png);
    }

}